svg {
  overflow: visible;
}

#Golden{
  transform-origin: center center;
  position: relative;
  left: 60%;
  bottom: 40%;
  transform: scale(.7);
  transition: transform .5s;
}




.bodyStop{
  width: 182px;
  height: 147px;
}

.bodyMoveX{
  width: 248px;
  height: 122px;
}

.bodyMoveB{
  width: 161px;
  height: 118px;
}

.headStop{
  transform: translate(-50%, -100%);
  bottom: 95%;
  left: 50%;
}

.headMoveX{
  top: -160%;
  right: -60%;
}

.headMoveB{
  bottom: 170%;
  left: -14.5%;
}

#leftLegStop{
  position: absolute;
  left: 45px;
  bottom: 0;
}

.legWave{
  transform-origin: top center; 
  animation: wave 2.5s ease-in-out; 
}

@keyframes wave{
  0%,100% {
    transform: rotate(0deg);  
  }

  30% {
    transform: rotate(160deg);
  }

  50%{
    transform: rotate(80deg);
  }

  70%{
    transform: rotate(160deg);
  }
}








/* X */
#legMoveStopXFR{
  transform-origin: top center;
  position: absolute;
  top: 90px;
  right: 40px;
}

#legMoveStopXBL{
  transform-origin: top center;
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 70px;
}

.legMoveStartX0{
  animation: walkX0 1s linear infinite;
}

@keyframes walkX0 {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
}


#legMoveStopXFL{
  transform-origin: top center;
  position: absolute;
  z-index: -1;
  top: 90px;
  right: 0;
}

#legMoveStopXBR{
  transform-origin: top center;
  position: absolute;
  top: 90px;
  left: 30px;
}

.legMoveStartX1{
  animation: walkX1 1s linear infinite;
}

@keyframes walkX1 {
  0%,100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}





/* B */

#legMoveStopBFR{
  transform-origin: top center;
  position: absolute;
  bottom: -60%;
  left: -1px;
}

#legMoveStopBBL{
  transform-origin: top center;
  position: absolute;
  bottom: -25%;
  right: 20px;
  z-index: -1;
}

.legMoveStartB0{
  animation: walkB0 .8s linear infinite;
}

@keyframes walkB0 {
  0%,100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }

}



#legMoveStopBFL{
  transform-origin: top center;
  position: absolute;
  bottom: -60%;
  right: -1px;
}

#legMoveStopBBR{
  transform-origin: top center;
  position: absolute;
  bottom: -25%;
  left: 20px;
  z-index: -1;
}

.legMoveStartB1{
  animation: walkB1 .8s linear infinite;
}

@keyframes walkB1 {
  0%,100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }

}



















.tailStop{
  position: absolute;
  transform-origin: bottom left; 
  bottom: 50px;
  right: -70px;
  z-index: -5;
}

.tailMove{
  position: absolute;
  transform-origin: bottom left; 
  bottom: 50px;
  left: 50px;
  z-index: -5;
  transform: scaleX(-1);
}

.tailWaggingStop-3 {
  animation: tailWaggingStop 3s ease-in-out infinite; 
}

.tailWaggingStop-07 {
  animation: tailWaggingStop .7s ease-in-out infinite; 
}

@keyframes tailWaggingStop {
  0%,100% {
    transform: rotate(20deg);  
  }

  50% {
    transform: rotate(-10deg);
  }
}


.tailWaggingMoveX-3 {
  animation: tailWaggingMove 3s ease-in-out infinite; 
}

.tailWaggingMoveX-07 {
  animation: tailWaggingMove .7s ease-in-out infinite; 
}

@keyframes tailWaggingMoveX {
  0%,100% {
    transform: scaleX(-1) rotate(20deg);  
  }

  50% {
    transform: scaleX(-1) rotate(-10deg);
  }
}


.tailWaggingMoveB-3 {
  animation: tailWaggingMoveB 3s ease-in-out infinite; 
}

.tailWaggingMoveB-07 {
  animation: tailWaggingMoveB .7s ease-in-out infinite; 
}

@keyframes tailWaggingMoveB {
  0%,100% {
    transform: scaleX(-1) rotate(40deg);  
  }

  50% {
    transform: scaleX(-1) rotate(-140deg);
  }
}