svg {
  overflow: visible;
}

#Golden{
  transform-origin: center center;
  position: relative;
  left: 60%;
  bottom: 30%;
  transform: scale(.7);
  transition: transform .5s;
}




.bodyStop{
  width: 182px;
  height: 147px;
  cursor: pointer;
}

.bodyMoveX{
  width: 248px;
  height: 122px;
}

.bodyMoveB{
  width: 161px;
  height: 118px;
}

.bodyMoveT{
  width: 161px;
  height: 69px;
  transform: translateY(400px);
}

.headStop{
  transform: translate(-50%, -100%);
  bottom: 95%;
  left: 50%;
}

.headMoveX{
  top: -160%;
  right: -60%;
}

.headMoveB{
  bottom: 170%;
  left: -14.5%;
}

.headMoveT{
  bottom: 315%;
  left: -14%;
}

#leftLegStop{
  position: absolute;
  left: 45px;
  bottom: 0;
}

.legWave{
  transform-origin: top center; 
  animation: wave 2.5s ease-in-out; 
}

@keyframes wave{
  0%,100% {
    transform: rotate(0deg);  
  }

  30% {
    transform: rotate(160deg);
  }

  50%{
    transform: rotate(80deg);
  }

  70%{
    transform: rotate(160deg);
  }
}








/* X */
#legMoveStopXFR{
  transform-origin: top center;
  position: absolute;
  top: 90px;
  right: 40px;
}

#legMoveStopXBL{
  transform-origin: top center;
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 70px;
}

.legMoveStartX0{
  animation: walkX0 1s linear infinite;
}

@keyframes walkX0 {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
}


#legMoveStopXFL{
  transform-origin: top center;
  position: absolute;
  z-index: -1;
  top: 90px;
  right: 0;
}

#legMoveStopXBR{
  transform-origin: top center;
  position: absolute;
  top: 90px;
  left: 30px;
}

.legMoveStartX1{
  animation: walkX1 1s linear infinite;
}

@keyframes walkX1 {
  0%,100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}





/* B */

#legMoveStopBFR{
  transform-origin: top center;
  position: absolute;
  bottom: -60%;
  left: -1px;
}

#legMoveStopBBL{
  transform-origin: top center;
  position: absolute;
  bottom: -25%;
  right: 20px;
  z-index: -1;
}

.legMoveStartY0{
  animation: walkY0 .8s linear infinite;
}

@keyframes walkY0 {
  0%,100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }

}



#legMoveStopBFL{
  transform-origin: top center;
  position: absolute;
  bottom: -60%;
  right: -1px;
}

#legMoveStopBBR{
  transform-origin: top center;
  position: absolute;
  bottom: -25%;
  left: 20px;
  z-index: -1;
}

.legMoveStartY1{
  animation: walkY1 .8s linear infinite;
}

@keyframes walkY1 {
  0%,100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }

}




/* T */

#legMoveStopTFR{
  transform-origin: top center;
  position: absolute;
  bottom: -80%;
  right: 25px;
  z-index: -1;
}

#legMoveStopTBL{
  transform-origin: top center;
  position: absolute;
  bottom: -130%;
  left: -1px;
  z-index: 2;
}



#legMoveStopTFL{
  transform-origin: top center;
  position: absolute;
  bottom: -80%;
  left: 25px;
  z-index: -1;

}

#legMoveStopTBR{
  transform-origin: top center;
  position: absolute;
  bottom: -130%;
  right: -1px;
}








.tailStop{
  position: absolute;
  transform-origin: bottom left; 
  bottom: 50px;
  right: -70px;
  z-index: -5;
}

.tailMoveT{
  position: absolute;
  transform-origin: bottom left; 
  bottom: 35px;
  right: -70px;
  z-index: 3;
}


.tailWaggingStop-3 {
  animation: tailWaggingStop 3s ease-in-out infinite; 
}

.tailWaggingStop-07 {
  animation: tailWaggingStop .7s ease-in-out infinite; 
}

@keyframes tailWaggingStop {
  0%,100% {
    transform: rotate(20deg);  
  }

  50% {
    transform: rotate(-10deg);
  }
}


.tailMoveX{
  position: absolute;
  transform-origin: bottom left; 
  bottom: 50px;
  left: 50px;
  z-index: -5;
  transform: scaleX(-1);
}

.tailWaggingMoveX-3 {
  animation: tailWaggingMoveX 3s ease-in-out infinite; 
}

.tailWaggingMoveX-07 {
  animation: tailWaggingMoveX .7s ease-in-out infinite; 
}

@keyframes tailWaggingMoveX {
  0%,100% {
    transform: scaleX(-1) rotate(20deg);  
  }

  50% {
    transform: scaleX(-1) rotate(-10deg);
  }
}


.tailWaggingMoveY-3 {
  animation: tailWaggingMoveY 3s ease-in-out infinite; 
}

.tailWaggingMoveY-07 {
  animation: tailWaggingMoveY .7s ease-in-out infinite; 
}

@keyframes tailWaggingMoveY {
  0%,100% {
    transform: scaleX(-1) rotate(40deg);  
  }

  50% {
    transform: scaleX(-1) rotate(-140deg);
  }
}