body{
  margin: 0;
  width: 100vw; 
  height: 100vh;
  overflow-x: hidden;
  background-color: #87CEEB ;
}

#floor{
  position: absolute;
  bottom: 0;
  width: 400%;
  height: 30%;
  background-color: green;
}
